<!-- 
    <h3>Авторизация</h3>
    <form [formGroup]="myForm" novalidate (ngSubmit)="submit()">          
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" name="email" formControlName="userEmail" />
          
            <div class="alert alert-danger"
                *ngIf="myForm.controls['userEmail'].invalid && myForm.controls['userEmail'].touched">
                Некорректный email
            </div>
        </div>

        <div class="form-group">
            <label>Пароль</label>
            <input class="form-control" name="password" formControlName="userPassword" />
            <div class="alert alert-danger"
                *ngIf="myForm.controls['userPassword'].invalid && myForm.controls['userPassword'].touched">
                Некорректный пароль
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-default">
                Отправить
            </button>
        </div>
  
    </form>
-->


<div class="parent">
    <h3>Авторизация</h3>
        <form [formGroup]="myForm" novalidate (ngSubmit)="submit()">  
                <mat-form-field class="example-full-width">  
                    <div class="form-group">
                        <label>Email</label>

                        <input type="email" name="email" matInput formControlName="userEmail" />
                        
                        <mat-error *ngIf="myForm.controls['userEmail'].invalid && myForm.controls['userEmail'].touched">
                            Некорректный email
                        </mat-error>
                    </div>
                </mat-form-field>

                <mat-form-field class="example-full-width">  
                    <div class="form-group">
                        <label>Пароль</label>
                        <input class="form-control" name="email" matInput formControlName="userPassword" />
                        
                        <mat-error *ngIf="myForm.controls['userPassword'].invalid && myForm.controls['userPassword'].touched">
                            Некорректный пароль
                        </mat-error>
                    </div>
                </mat-form-field>

                    <div class="example-button-row">
                        <button mat-raised-button color="accent">Войти</button>
                    </div>
        </form>
</div>

